@import './variables.scss';

.grad-background {
    background: $main-color;
    height: 396px;
    width: 100%;
}

.side-bar {
    margin-top: 33px;
    margin-left: 60px;
}

.home-page,
.result-page,
.warning-page {
    margin-left: 470px;
    margin-right: 60px;
    margin-bottom: 60px;
}
