@font-face {
    font-family: 'YandexSans';
    src: local('YandexSans'), url(../fonts/YandexSansText-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'RussianRail';
    src: local('RussianRail'), url(../fonts/RussianRail\ G\ Regular.otf) format('opentype');
}