@import './variables.scss';
@import './font.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'YandexSans';
}

body {

    h1,
    h2,
    h3,
    h4,
    p {
        background: $invisible;
    }

    h5 {
        font-size: 150px;
        font-weight: 500;
        font-style: normal;
    }

    h6 {
        font-size: 64px;
        font-weight: 500;
        font-style: normal;
    }

    h1 {
        font-size: 48px;
        font-weight: 500;
        font-style: normal;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        font-style: normal;
    }

    h3 {
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
    }

    h4 {
        font-size: 20px;
        font-weight: 100;
        font-style: normal;
    }
}