$black: #1e1e1e;
$red: #af1818;
$light-red: #ca1110;
$white: #FFFFFF;
$gray: #8e8e8e;
$light-gray: #F3F4F6;
$main-color: linear-gradient(135deg, #c31b1c 25%, #f56a6a 70%);
$invisible: #ffffff00;

$offset: 187;
$duration: 2s;
